<div class="row">
    <div class="col-md-6">
        <form action="#" class="form">
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input ng-model="newArticle.title" type="text" class="form-control" id="inputTitle" placeholder="title">
            </div>
            <div class="form-group">
                <label for="inputBody">Body</label>
                <textarea ng-model="newArticle.body" class="form-control" id="inputBody" placeholder="Body"></textarea>
            </div>
            <div class="form-group">
                <label for="inputAuthor">Author</label>
                <input ng-model="newArticle.createdBy" type="text" class="form-control" id="inputAuthor" placeholder="author name">
            </div>
            <button ng-click="submitArticle()" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Liste des Articles <a href ng-click="loadAll()" class="pull-right">Refresh</a></h2>
        <div ng-if="loader">
            Chargement en cours...
        </div>
        <div ng-hide="loader">
            <ul class="list-unstyled">
                <li class="list-item" ng-repeat="article in articles">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{article.title}} <a href class="pull-right" ng-click="deleteArticle(article.id)">delete</a></h3>
                        </div>
                        <div class="panel-body">
                            {{article.body}}
                        </div>
                        <div class="panel-footer">
                            {{article.created_by}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>